<div class="container fixed w-screen h-full flex align-content-center justify-content-center flex-wrap" color="primary">
	<form [formGroup]="userForm" (submit)="onSubmit()" class="w-10 md:w-3 lg:w-3 p-4 grid border-round-md">
		<img src="assets/image/logo-compra-o-q.png" alt="logo compra o quer?" class="col-8 m-auto">
		<h1 class="col-12 text-xl">Entrar no sistema</h1>
		<mat-form-field appearance="outline" class="example-full-width col-12">
			<mat-label>Email</mat-label>
			<input type="email" matInput formControlName="email" class="text-center">
			<mat-error *ngIf="userForm.get('email')?.errors?.['required']">
				Informe o e-mail
			</mat-error>
			<mat-error *ngIf="userForm.get('email')?.errors?.['email'] && !userForm.get('email')?.errors?.['required']">
				Informe um e-mail válido
			</mat-error>
		</mat-form-field>
		<mat-form-field appearance="outline" class="col-12">
			<mat-label>Senha</mat-label>
			<input matInput [type]="hide() ? 'password' : 'text'" formControlName="password"  class="text-center">
			<button
			mat-icon-button
			matSuffix
			(click)="clickEvent($event)"
			[attr.aria-label]="'Hide password'"
			[attr.aria-pressed]="hide()"
			type="button"
			>
			<mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
			</button>
			<mat-error *ngIf="userForm.get('email')?.errors?.['required']">
				Informe a senha
			</mat-error>
		</mat-form-field>
		<button type="submit" mat-raised-button color="accent" [disabled]="userForm.invalid" class="col-6">Entrar</button>
	</form>
</div>
